<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GitInfo" version="2.0.26" targetFramework="net46" developmentDependency="true" />
  <package id="ILMerge" version="2.13.0307" targetFramework="net46" />
  <package id="Mono.Options" version="6.6.0.161" targetFramework="net46" />
  <package id="MSBuild.ILMerge.Task" version="1.0.5" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net46" />
</packages>